.table-dark {
  background-color: rgba(30, 30, 30, 1)
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(60, 60, 60, 1);
}

.table-dark thead th {
  position: sticky;
  top: 0;
  background-color: rgba(30, 30, 30, 1);
}
